extends layout

block content

  h1 A propos

  h2 Qu'est-ce que c'est que ce site ?

  C'est quoi la barbe ?

  Envie de me frotter aux extensions, besoin d'un prétexte

  Donc site tout à fait officieux, reprenant les infos tirées du site officiel, ceci entièrement dans leur dos.



  h2 Licence et points techniques

  Extension à télécharger ici :

  Github

  Crédits :
  - icons
  - template : p template inspiré de codrops : http://tympanus.net/Development/AnimatedGridLayout/index.html