doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,900,700,300', type='text/css')
    link(rel='stylesheet', href='./css/style-grid.css')
    script(src='./js/modernizr.custom.js')
    //- script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    //- script(src='./js/bootstrap.min.js')
  body
    .container
      header
        nav.navbar.navbar-fixed-top
          .container.inner-container
            .navbar-brand
              a.navbar-title(href= "/")
                | La barbe !
              .navbar-baseline Site de démonstration d'une extension barbue
            ul.nav.navbar-nav.pull-right
              li
                a(href= "/about") A propos


      .content-body
        block content




    footer
      .container
        //- ' © Claire Zuliani - 2016
    script(src='./js/classie.js')
    script(src='./js/main.js')

