$color_primary: #f5f5f5
$color_secondary: #ee00ff
$color_back: #f9f9f9
$color_font: #66625b
$color_font_secondary: #7b7b7b
$color_link: #1d3777
$color_grid: #fff

$font_size_base: 1.4rem
$serif: 'Playfair Display', serif
$sansserif: 'Roboto', Helvetica, Arial, sans-serif

$anim-time: 0.5s
$item_width: 300px



@import "base"
@import "grid"
@import "mediaqueries"