@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?50119024");
  src: url("../font/fontello.eot?50119024#iefix") format("embedded-opentype"), url("../font/fontello.woff2?50119024") format("woff2"), url("../font/fontello.woff?50119024") format("woff"), url("../font/fontello.ttf?50119024") format("truetype"), url("../font/fontello.svg?50119024#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8 */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120% */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: '\e800'; }

.icon-location:before {
  content: '\e801'; }

.icon-cancel:before {
  content: '\e802'; }

.icon-mail:before {
  content: '\e803'; }

/* Thème de base, layout */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  display: table;
  content: ''; }

.clearfix:after {
  clear: both; }

body {
  background: #f9f9f9;
  color: #66625b;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  overflow-y: scroll; }

a {
  outline: none;
  color: #1d3777;
  text-decoration: none; }

a:hover,
a:focus {
  color: #333;
  outline: none;
  text-decoration: none; }

/* helper class when showing content */
.noscroll {
  overflow: hidden; }

button:focus {
  outline: none;
  text-decoration: none; }

header {
  width: inherit;
  margin-top: 20px; }

nav.navbar {
  background-color: #f9f9f9;
  padding-top: 15px; }

.navbar-brand {
  color: #66625b;
  display: block;
  height: inherit; }
  .navbar-brand .navbar-title {
    font-weight: 900;
    font-size: 5rem;
    color: inherit;
    font-family: "hairy_monster_solidsolid", "Roboto", Helvetica, Arial, sans-serif; }
    .navbar-brand .navbar-title:hover, .navbar-brand .navbar-title:active {
      color: #59554f; }
  .navbar-brand .navbar-baseline {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 4rem;
    font-style: italic; }

.nav li a {
  color: #bbb;
  text-transform: uppercase;
  font-weight: 700; }
  .nav li a:hover, .nav li a:active {
    color: #999;
    background-color: transparent; }

.content-body {
  margin-top: 120px; }

section.about h2 {
  margin-bottom: 30px; }

/* Main content */
.main {
  position: relative;
  z-index: 50; }

/* Grid container */
.grid {
  position: relative; }

/* Overlay */
.grid::after {
  content: '';
  background: rgba(202, 202, 202, 0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

.view-single .grid::after {
  opacity: 1; }

/* Grid item =========================================================== */
.grid__item {
  padding: 45px 55px 30px;
  position: relative;
  color: inherit;
  background: #f9f9f9;
  min-height: 300px;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center; }

/* Grid item "border" */
.grid__item::before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.075);
  background-color: #fff; }

.grid__item * {
  z-index: 10; }

/* grid item element and full content element styles */
.title {
  margin: 0;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700; }

.title--preview {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  line-height: 3.4rem; }

.loader {
  height: 1px;
  width: 40%;
  margin: 1em auto;
  position: relative;
  background: rgba(0, 0, 0, 0.1); }

.loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #a4e7ad;
  left: 0;
  top: -1px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%; }

.grid__item--loading .loader::before {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.category {
  margin: 0;
  position: relative;
  font-size: 0.95em;
  font-style: italic;
  font-family: "Playfair Display", serif;
  text-align: center;
  display: block; }

.title--preview,
.loader,
.category {
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

/* closing (delays) */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s; }

/* opening */
.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0); }

.grid__item--animate .loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0); }

.grid__item--animate .category {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0); }

.meta {
  font-size: 0.765em;
  text-align: left; }

.meta .fa {
  margin-right: 4px; }

.meta:before, .meta:after {
  display: table;
  content: ''; }

.meta:after {
  clear: both; }

.meta__avatar {
  display: block;
  border-radius: 50%;
  margin: 2em auto; }

.meta--preview .meta__avatar {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%); }

.grid__item:hover .meta--preview .meta__avatar,
.grid__item:focus .meta--preview .meta__avatar {
  -webkit-filter: none;
  filter: none; }

.meta__date,
.meta__location {
  display: block;
  float: left;
  color: #aaa; }

.meta__location {
  text-align: right;
  float: right; }

.meta__misc {
  display: block;
  clear: both;
  text-align: left;
  padding: 5px 0;
  color: #aaa; }
  .meta__misc a {
    color: #aaa; }
    .meta__misc a:hover, .meta__misc a:focus {
      color: #888; }

.meta__misc--seperator {
  padding: 20px 0 0;
  margin: 65px 0 0;
  border-top: 1px solid #f5f5f5; }

.article-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.article-nav button {
  border: none;
  color: #1d3777;
  background: none; }

.article-nav button:hover {
  color: #333; }

.meta--preview .meta__avatar,
.meta--preview .meta__date,
.meta--preview .meta__location {
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.grid__item--loading .meta__avatar {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.grid__item--loading .meta__date {
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s; }

.grid__item--loading .meta__location {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s; }

.grid__item--loading .meta__avatar,
.grid__item--loading .meta__date,
.grid__item--loading .meta__location {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  opacity: 0; }

/* Grid footer */
.page-meta {
  width: 100%;
  background: #fff;
  width: 100%;
  padding: 15px 15px 10px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  cursor: default; }

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
  pointer-events: none;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100vh + 5px);
  z-index: 100;
  top: 0;
  left: 0;
  background: #f9f9f9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0; }

.placeholder.placeholder--trans-in {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); }

.placeholder.placeholder--trans-out {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

/* main content =========================================================== */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0;
  visibility: hidden;
  z-index: 400;
  overflow: hidden; }

.content.content--show {
  height: 100vh;
  pointer-events: auto;
  visibility: visible; }

/* scroll helper wrap */
.scroll-wrap {
  position: absolute;
  width: 100%;
  height: 95%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

/* single content item */
.content__item {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  padding: 60px 60px 80px 60px;
  pointer-events: none;
  font-size: 0.85em; }
  .content__item p {
    max-width: 1200px;
    margin: 1em auto;
    text-align: justify; }
  .content__item p:first-of-type {
    font-size: 1.35em; }

.content__item.content__item--show {
  height: auto;
  min-height: 100vh;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
  background-color: #fff; }

/* content elements */
.category--full {
  font-size: 1.25em;
  margin-bottom: 20px;
  color: #1d3777; }

.title--full {
  font-size: 3.25em;
  margin-bottom: 30px; }

.meta--full {
  font-size: 1em;
  margin: 0 auto 0;
  max-width: 1200px; }
  .meta--full .meta__author {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px; }
  .meta--full .meta__author::before {
    content: 'by ';
    font-weight: normal; }
  .meta--full .meta__category {
    font-style: italic;
    float: left;
    margin: 0 5px;
    font-family: "Playfair Display", serif; }
  .meta--full .meta__category::before {
    content: 'in '; }
  .meta--full .meta__avatar {
    margin: 1em auto; }

.img-tract {
  border: 1px solid #ddd; }

.ghost-row {
  height: 15px; }

.category--full,
.title--full,
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__location {
  opacity: 0; }

.content__item p {
  opacity: 0; }

.category--full,
.title--full {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0); }

.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__location {
  -webkit-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1); }

.content__item--show .category--full,
.content__item--show .title--full,
.content__item--show .meta--full .meta__avatar,
.content__item--show .meta--full .meta__author,
.content__item--show .meta--full .meta__date,
.content__item--show .meta--full .meta__location {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.content__item--show .category--full,
.content__item--show .title--full {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.content__item--show .title--full {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.content__item--show .meta--full .meta__avatar {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.content__item--show .meta--full .meta__date {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s; }

.content__item--show .meta--full .meta__location {
  -webkit-transition-delay: 0.34s;
  transition-delay: 0.34s; }

.content__item--show.content__item p {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.25s;
  transition: opacity 0.5s 0.25s; }

/* close button (for content and sidebar) */
.close-button {
  position: absolute;
  border: none;
  background: none;
  margin: 0;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #ddd;
  cursor: pointer;
  pointer-events: none;
  padding: 20px 30px;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.close-button span {
  display: none; }

.close-button:hover {
  color: #7b7b7b; }

/* show class for content close button */
.close-button--show {
  opacity: 1;
  pointer-events: auto; }

/* Viewport sizes based on column number and sidebar */
/* 1 column */
/* 2 columns */
/* 3 columns */
/* 4 columns */
/* 5 columns */
/* 6 columns */
@media screen and (min-width: 300px) {
  html,
  body,
  .container:not(.inner-container),
  .main {
    height: 100vh; }
  .main {
    height: 100%; }
  .content__item {
    font-size: 1em; }
  .grid__item {
    padding: 45px 45px 30px; }
  /* Demo ad */
  body #cdawrap {
    right: auto;
    left: 30px;
    top: auto;
    bottom: 0;
    background: none;
    border: none;
    width: 240px;
    background: #f5f5f5; }
  body #cdawrap .carbon-text {
    color: #7b7b7b; }
  body #cdawrap a.carbon-poweredby {
    color: #7883C4; }
  body #cdawrap a:hover.carbon-poweredby {
    color: #333; }
  body #cdawrap #cda-remove {
    display: none; } }

@media screen and (min-width: 600px) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  /* 2 columns */
  .grid__item {
    width: 50%;
    border: none; }
  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74, 74, 74, 0.075);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .grid__item:hover::before,
  .grid__item:focus::before {
    -webkit-box-shadow: 8px 8px 8px -9px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 8px -9px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 8px -9px rgba(0, 0, 0, 0.75); }
  .grid__item--loading.grid__item::before {
    opacity: 0; } }

@media screen and (min-width: 900px) {
  /* 3 columns */
  .grid__item {
    width: 25%; } }

@media screen and (min-width: 1200px) {
  /* 4 columns */
  .grid__item {
    width: 25%; } }

@media screen and (min-width: 1500px) {
  /* 5 columns */
  .grid__item {
    width: 20%; } }

@media screen and (min-width: 1800px) {
  /* 6 columns */
  .grid__item {
    width: 16.66%; } }

/* small screen changes for sidebar (it becomes an off-canvas menu) */
@media screen and (max-width: 299px) {
  .sidebar {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s; }
  .sidebar.sidebar--open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .sidebar.sidebar--open ~ .main {
    pointer-events: none; }
  .top-bar {
    padding: 22px 15px 10px 60px; }
  .menu-toggle {
    display: inline-block; }
  .sidebar .close-button {
    opacity: 1;
    pointer-events: auto; }
  .title--full {
    font-size: 2em; }
  .content__item {
    padding: 80px 20px 40px; }
  .content .close-button {
    padding: 10px 20px; }
  .content .close-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: #f9f9f9;
    border-bottom: 1px solid #f5f5f5;
    width: 100vw;
    height: 50px;
    pointer-events: none;
    z-index: -1; } }

@media screen and (max-height: 580px) {
  body #cdawrap {
    display: none; } }

/*# sourceMappingURL=style-grid.css.map */