$color_primary: #f5f5f5
$color_secondary: #ee00ff
$color_back: #f9f9f9
$color_font: #66625b
$color_font_secondary: #7b7b7b
$color_link: #1d3777
$color_grid: #fff

$font_size_base: 1.4rem
$serif: 'Playfair Display', serif
$sansserif: 'Roboto', Helvetica, Arial, sans-serif

$anim-time: 0.5s
$item_width: 300px


// @font-face
//   font-family: 'hairy_monster_solidsolid'
//   src: url('../font/hairy-monster.solid-webfont.eot')
//   src: url('../font/hairy-monster.solid-webfont.eot?#iefix') format('embedded-opentype'), url('../font/hairy-monster.solid-webfont.woff2') format('woff2'),   url('../font/hairy-monster.solid-webfont.woff') format('woff'), url('../font/hairy-monster.solid-webfont.ttf') format('truetype'), url('../font/hairy-monster.solid-webfont.svg#hairy_monster_solidsolid') format('svg')
//   font-weight: normal
//   font-style: normal


$font_logo: 'hairy_monster_solidsolid', 'Roboto', Helvetica, Arial, sans-serif



@import "base"
@import "grid"
@import "mediaqueries"